<h2>My Batches</h2>

<div class="breadcrumbs">
  <ul>
    <li><a href="#springUrl('/index.s')">Home</a></li>
    <li>My Batches</li>
  </ul>
</div>

<div class="page-functions">
  <ul>
    <li><a href="#springUrl('/edit/batch.s')">New Batch</a></li>
  </ul>
</div>

<table class="list sortable">

  <tr>
    <th>Name</th>
    <th>Volume</th>
    <th>Boil</th>
    <th>Date</th>
  </tr>

  #foreach ($b in $batches)
  <tr>
    <td><a href="#springUrl('/batch.s')?id=$b.id">$b.name</a></td>
    <td sorttable_customkey="$!$b.volume.mlVolume()">#volume($b.volume)</td>
    <td sorttable_customkey="$!$b.boilTime.secondTime()">#time($b.boilTime)</td>
    <td sorttable_customkey="$!$b.date.time">#date($b.date)</td>
  </tr>
  #end

</table>
