<script type="text/javascript">

$(document).ready(function() {
  $('#tabs').tabs();

  $('.mash-type-select').change(function(evt) {
    console.log(evt);
    var idx = evt.target.selectedIndex;
    var name = $(evt.target.options[idx]).text();
    if (name == "Strike") {
    } else {
    }
  });
});

var adjunctIdx = $b.adjuncts.size();
var grainIdx = $b.grains.size();
var hopsIdx = $b.hops.size();
var yeastIdx = $b.yeast.size();
var mashIdx = $b.mash.size();

function moreAdjuncts() {
  var content = '<tr>';
  content += '<td><input name="adjuncts['+adjunctIdx+'].adjunct" value="" type="text" class="autocomplete adjunct_autocomplete" size="20"/></td>';

  content += '<td><input type="text" name="adjuncts['+adjunctIdx+'].weight.value" value="" size="4"/></td>';

  content += '<td><select name="adjuncts['+adjunctIdx+'].weight.unit">';
  #foreach($u in $weightUnits)
  content += '<option value="$u.id">$u.name</option>';
  #end
  content += '</select></td>';

  content += '<td>';
  content += '<input type="text" name="adjuncts['+adjunctIdx+'].volume.value" value="" size="4"/>';
  content += '</td>';

  content += '<td>';
  content += '<select name="adjuncts['+adjunctIdx+'].volume.unit">';
  #foreach($u in $weightUnits)
  content += '<option value="$u.id">$u.name</option>';
  #end
  content += '</select>';
  content += '</td>';

  content += '</tr>';

  $('#adjunct_table tr:last').after(content);

  adjunctIdx++;

  com.rcc.brew.ac.init();
}

function moreGrains() {
  var content = '<tr>';
  content += '<td><input name="grains['+grainIdx+'].grain" value="" type="text" class="autocomplete grain_autocomplete" size="20"/></td>';
  content += '<td><input type="text" name="grains['+grainIdx+'].weight.value" value="" size="4"/></td>';

  content += '<td><select name="grains['+grainIdx+'].weight.unit">';
  #foreach($u in $weightUnits)
  content += '<option value="$u.id">$u.name</option>';
  #end
  content += '</select></td>';

  content += '</tr>';

  $('#grain_table tr:last').after(content);

  grainIdx++;

  com.rcc.brew.ac.init();
}

function moreHops() {
  var content = '<tr>';
  content += '<td><input name="hops['+hopsIdx+'].hops" value="" type="text" class="autocomplete hops_autocomplete" size="20"/></td>';

  content += '<td><input type="text" name="hops['+hopsIdx+'].weight.value" value="" size="4"/></td>';

  content += '<td><select name="hops['+hopsIdx+'].weight.unit">';
  #foreach($u in $weightUnits)
  content += '<option value="$u.id">$u.name</option>';
  #end
  content += '</select></td>';

  content += '<td><select name="hops['+hopsIdx+'].additionType.id">';
  #foreach($t in $hats)
  content += '<option value="$t.id">$t.name</option>';
  #end
  content += '</select></td>';

  content += '<td><input type="text" name="hops['+hopsIdx+'].time.value" value="" size="4"/></td>';

  content += '<td><select name="hops['+hopsIdx+'].time.unit">';
  #foreach($u in $timeUnits)
  content += '<option value="$u.id">$u.name</option>';
  #end
  content += '</select></td>';

  content += '<td><input type="text" name="hops['+hopsIdx+'].alpha" value="" size="4"/></td>';

  content += '</tr>';

  $('#hops_table tr:last').after(content);

  hopsIdx++;

  com.rcc.brew.ac.init();
}

function moreYeast() {
  var content = '<tr>';
  content += '<td><input name="yeast['+yeastIdx+'].yeast" value="" type="text" class="autocomplete yeast_autocomplete" size="20"/></td>';
  content += '</tr>';

  $('#yeast_table tr:last').after(content);

  yeastIdx++;

  com.rcc.brew.ac.init();
}

function moreMash() {
  var content = '<tr>';

  content += '<td>';
  content += '<select name="mash['+mashIdx+'].type">';
  content += '<option value=""></option>';
  #foreach ($t in $msts)
  content += '<option value="$t.id">$t.description</option>';
  #end
  content += '</select>';
  content += '</td>';

  content += '<td>';
  content += '<input type="text" name="mash['+mashIdx+'].time.value" value="" size="4"/>';
  content += '<select name="mash['+mashIdx+'].time.unit">';
  #foreach($u in $timeUnits)
  content += '<option value="$u.id">$u.name</option>';
  #end
  content += '</select>';
  content += '</td>';

  content += '<td>';
  content += '<input type="text" name="mash['+mashIdx+'].startTemp.value" value="" size="4"/>';
  content += '<select name="mash['+mashIdx+'].startTemp.unit">';
  #foreach($u in $tempUnits)
  content += '<option value="$u.id">$u.name</option>';
  #end
  content += '</select>';
  content += '</td>';

  content += '<td>';
  content += '<input type="text" name="mash['+mashIdx+'].endTemp.value" value="" size="4"/>';
  content += '<select name="mash['+mashIdx+'].endTemp.unit">';
  #foreach($u in $tempUnits)
  content += '<option value="$u.id">$u.name</option>';
  #end
  content += '</select>';
  content += '</td>';
  content += '</tr>';

  $('#mash_table tr:last').after(content);

  mashIdx++;

  com.rcc.brew.ac.init();
}
</script>

<form method="POST">

  <div id="tabs">

    <ul>
      <li><a href="#batch">Batch</a></li>
      <li><a href="#grains">Grains</a></li>
      <li><a href="#hops">Hops</a></li>
      <li><a href="#yeast">Yeast</a></li>
      <li><a href="#mash">Mash</a></li>
      <li><a href="#adjuncts">Adjuncts</a></li>
    </ul>


    <div id="batch">
      <table class="form view">

        <tr>
          <th>Name</th>
          <td>
            #springFormInput("b.name" "size='48' tabindex='1'")
            #springShowErrors("<br/>" "form-error")
          </td>
        </tr>

        <tr>
          <th>Date</th>
          <td>
            #springFormInput("b.date" "tabindex='2' class='datepicker'")
            #springShowErrors("<br/>" "form-error")
            <div class="help">Mon d, yyyy</div>
          </td>
        </tr>

        <tr>
          <th>Boil Time</th>
          <td>
            #springFormInput("b.boilTime.value" "size='4' tabindex='3'")
            #springShowErrors("<br/>" "form-error")
    
            #springBind("b.boilTime.unit")
            <select name="$status.expression" tabindex="4">
              #foreach ($u in $timeUnits)
              <option value="$u.id"
                  #if ("$u.id" == "$!status.value")
                  selected="selected"
                  #end >$u.name</option>
              #end
            </select>
          </td>
        </tr>
    
        <tr>
          <th>Volume</th>
          <td>
            #springFormInput("b.volume.value" "size='4' tabindex='5'")
            #springShowErrors("<br/>" "form-error")
    
            #springBind("b.volume.unit")
            <select name="$status.expression" tabindex="6">
              #foreach ($u in $volumeUnits)
              <option value="$u.id"
                  #if ("$u.id" == "$!status.value")
                  selected="selected"
                  #end >$u.name</option>
              #end
            </select>
          </td>
        </tr>

        <tr>
          <th>Sparge Time</th>
          <td>
            #springFormInput("b.spargeTime.value" "size='4'")
            #springShowErrors("<br/>" "form-error")
    
            #springBind("b.spargeTime.unit")
            <select name="$status.expression">
              #foreach ($u in $timeUnits)
              <option value="$u.id"
                  #if ("$u.id" == "$!status.value")
                  selected="selected"
                  #end >$u.name</option>
              #end
            </select>
          </td>
        </tr>
    
        <tr>
          <th>Volume After Sparge</th>
          <td>
            #springFormInput("b.volumeAfterSparge.value" "size='4'")
            #springShowErrors("<br/>" "form-error")
    
            #springBind("b.volumeAfterSparge.unit")
            <select name="$status.expression">
              #foreach ($u in $volumeUnits)
              <option value="$u.id"
                  #if ("$u.id" == "$!status.value")
                  selected="selected"
                  #end >$u.name</option>
              #end
            </select>
          </td>
    
        <tr>
          <th>Gravity After Sparge</th>
          <td>
            #springFormInput("b.gravityAfterSparge.value" "size='4'")
            #springShowErrors("<br/>" "form-error")
    
            #springBind("b.gravityAfterSparge.unit")
            <select name="$status.expression">
              #foreach ($u in $gravityUnits)
              <option value="$u.id"
                  #if ("$u.id" == "$!status.value")
                  selected="selected"
                  #end >$u.name</option>
              #end
            </select>
          </td>
    
      </table>
    </div>




    <div id="grains">
      <table id="grain_table" class="list">
    
        <tr>
          <th>Grain</th>
          <th colspan="2">Weight</th>
        </tr>
    
        #set ($tabindex = 6)
        #set ($i = 0)
        #foreach ($g in $b.grains)
        <tr>
    
          <td>
            #springBind("b.grains[$i].grain")
            <input class="grain_autocomplete autocomplete" type="text" size="20"
                name="$status.expression" value="$status.value" tabindex="$tabindex"/>
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
          <td>
            #springBind("b.grains[$i].weight.value")
            <input type="text" name="$status.expression" value="$!status.value" size="4" tabindex="$tabindex"/>
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
          <td>
            #springBind("b.grains[$i].weight.unit")
            <select name="$status.expression" tabindex="$tabindex">
              #foreach ($u in $weightUnits)
              <option value="$u.id"
                  #if ("$!status.value" == "$u.id")
                  selected="selected"
                  #end >$u.name</option>
              #end
            </select>
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
        </tr>
        #set ($i = $i + 1)
        #end
    
      </table>
      <div><a onclick="moreGrains();" class="page-action">More grains</a></div>
    </div>
    
    <div id="hops">
      <table id="hops_table" class="list">
    
        <tr>
          <th>Hops</th>
          <th colspan="2">Weight</th>
          <th>Type</th>
          <th colspan="2">Time</th>
          <th>Alpha%</th>
        </tr>
    
        #set ($i = 0)
        #foreach ($h in $b.hops)
        <tr>
    
          <td>
            #springBind("b.hops[$i].hops")
            <input class="hops_autocomplete autocomplete" type="text" size="20"
                name="$status.expression" value="$status.value" tabindex="$tabindex"/>
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
          <td>
            #springBind("b.hops[$i].weight.value")
            <input type="text" name="$status.expression" value="$!status.value" size="4" tabindex="$tabindex"/>
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
          <td>
            #springBind("b.hops[$i].weight.unit")
            <select name="$status.expression" tabindex="$tabindex">
              #foreach ($u in $weightUnits)
              <option value="$u.id"
                  #if ("$!status.value" == "$u.id")
                  selected="selected"
                  #end >$u.name</option>
              #end
            </select>
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
          <td>
            #springBind("b.hops[$i].additionType")
            <select name="$status.expression" tabindex="$tabindex">
              #foreach ($t in $hats)
              <option value="$t.id"
                  #if ("$!status.value" == "$t.id")
                  selected="selected"
                  #end >$t.name</option>
              #end
            </select>
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
          <td>
            #springBind("b.hops[$i].time.value")
            <input type="text" name="$status.expression" value="$!status.value" size="4" tabindex="$tabindex"/>
            #springShowErrors("<br/>" "form-error")
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
          <td>
            #springBind("b.hops[$i].time.unit")
            <select name="$status.expression" tabindex="$tabindex">
              #foreach ($u in $timeUnits)
              <option value="$u.id"
                  #if ("$!status.value" == "$u.id")
                  selected="selected"
                  #end >$u.name</option>
              #end
            </select>
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
          <td>
            #springBind("b.hops[$i].alpha")
            <input type="text" name="$status.expression" value="$!status.value" size="4" tabindex="$tabindex"/>
            #springShowErrors("<br/>" "form-error")
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
        </tr>
        #set ($i = $i + 1)
        #end
    
      </table>
      <div><a onclick="moreHops();" class="page-action">More hops</a></div>
    </div>
    
    
    <div id="yeast">
      <table id="yeast_table" class="list">
    
        <tr>
          <th>Yeast</th>
        </tr>
    
        #set ($i = 0)
        #foreach ($y in $b.yeast)
        <tr>
    
          <td>
            #springBind("b.yeast[$i].yeast")
            <input class="yeast_autocomplete autocomplete" type="text" size="20"
                name="$status.expression" value="$status.value" tabindex="$tabindex"/>
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
        </tr>
        #set ($i = $i + 1)
        #end
    
      </table>
      <div><a onclick="moreYeast();" class="page-action">More yeast</a></div>
    </div>
    
    
    <div id="mash">
      <table id="mash_table" class="list">
    
        <tr>
          <th>Mash</th>
          <th>Time</th>
          <th>Start Temp</th>
          <th>End Temp</th>
        </tr>
    
        #set ($i = 0)
        #foreach ($m in $b.mash)
        <tr>
    
          <td>
            #springBind("b.mash[$i].type")
            <select class="mash-type-select" name="$status.expression" tabindex="$tabindex">
              <option value="0"></option>
              #foreach ($t in $msts)
              <option value="$t.id"
                  #if ("$!status.value" == "$t.id")
                  selected="selected"
                  #end >$t.description</option>
              #end
            </select>
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
          <td>
            #springFormInput("b.mash[$i].time.value" "size='4' tabindex='$tabindex'")
            #springShowErrors("<br/>" "form-error")
    
            #set ($tabindex = $tabindex + 1)
    
            #springBind("b.mash[$i].time.unit")
            <select name="$status.expression" tabindex="$tabindex">
              #foreach ($u in $timeUnits)
              <option value="$u.id"
                  #if ("$u.id" == "$!status.value")
                  selected="selected"
                  #end >$u.name</option>
              #end
            </select>
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
          <td>
            #springBind("b.mash[$i].startTemp.value")
            <input type="text" name="$status.expression" value="$!status.value" size="4" tabindex="$tabindex"/>
    
            #set ($tabindex = $tabindex + 1)
    
            #springBind("b.mash[$i].startTemp.unit")
            <select name="$status.expression" tabindex="$tabindex">
              #foreach ($u in $tempUnits)
              <option value="$u.id"
                  #if ("$!status.value" == "$u.id")
                  selected="selected"
                  #end >$u.name</option>
              #end
            </select>
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
          <td>
            #springBind("b.mash[$i].endTemp.value")
            <input type="text" name="$status.expression" value="$!status.value" size="4" tabindex="$tabindex"/>
    
            #set ($tabindex = $tabindex + 1)
    
            #springBind("b.mash[$i].endTemp.unit")
            <select name="$status.expression" tabindex="$tabindex">
              #foreach ($u in $tempUnits)
              <option value="$u.id"
                  #if ("$!status.value" == "$u.id")
                  selected="selected"
                  #end >$u.name</option>
              #end
            </select>
          </td>
    
        </tr>
        #set ($i = $i + 1)
        #end
    
      </table>
      <div><a onclick="moreMash();" class="page-action">More mash steps</a></div>
    </div>



    <div id="adjuncts">
      <table id="adjunct_table" class="list">
    
        <tr>
          <th>Adjunct</th>
          <th colspan="2">Weight</th>
          <th colspan="2">Volume</th>
        </tr>
    
        #set ($i = 0)
        #foreach ($a in $b.adjuncts)
        <tr>
    
          <td>
            #springBind("b.adjuncts[$i].adjunct")
            <input class="adjunct_autocomplete autocomplete" type="text" size="20"
                name="$status.expression" value="$status.value" tabindex="$tabindex"/>
          </td>

          #set ($tabindex = $tabindex + 1)
    
          <td>
            #springBind("b.adjuncts[$i].weight.value")
            <input type="text" name="$status.expression" value="$!status.value" size="4" tabindex="$tabindex"/>
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
          <td>
            #springBind("b.adjuncts[$i].weight.unit")
            <select name="$status.expression" tabindex="$tabindex">
              #foreach ($u in $weightUnits)
              <option value="$u.id"
                  #if ("$!status.value" == "$u.id")
                  selected="selected"
                  #end >$u.name</option>
              #end
            </select>
          </td>

          #set ($tabindex = $tabindex + 1)
    
          <td>
            #springBind("b.adjuncts[$i].volume.value")
            <input type="text" name="$status.expression" value="$!status.value" size="4" tabindex="$tabindex"/>
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
          <td>
            #springBind("b.adjuncts[$i].volume.unit")
            <select name="$status.expression" tabindex="$tabindex">
              #foreach ($u in $volumeUnits)
              <option value="$u.id"
                  #if ("$!status.value" == "$u.id")
                  selected="selected"
                  #end >$u.name</option>
              #end
            </select>
          </td>
    
          #set ($tabindex = $tabindex + 1)
    
        </tr>
        #set ($i = $i + 1)
        #end
    
      </table>
      <div><a onclick="moreAdjuncts();" class="page-action">More adjuncts</a></div>
    </div>


  </div>



  <div class="buttons">
    <input type="submit" value="$submitValue" tabindex="$tabindex"/>
    #if ($b.id > 0)
    <a href="#springUrl('/batch.s')?id=$b.id">Cancel</a>
    #end
  </div>

</form>
