<script type="text/javascript">
var grainIdx = $r.grains.size();
var hopsIdx = $r.hops.size();
var yeastIdx = $r.yeast.size();

function moreGrains() {
  var content = '<tr>';
  content += '<td><input name="grains['+grainIdx+'].grain" value="" type="text" class="autocomplete grain_autocomplete" size="20"/></td>';
  content += '<td><input type="text" name="grains['+grainIdx+'].weight.value" value="" size="4"/></td>';

  content += '<td><select name="grains['+grainIdx+'].weight.unit">';
  #foreach($u in $weightUnits)
  content += '<option value="$u.id">$u.name</option>';
  #end
  content += '</select></td>';

  content += '</tr>';

  $('#grain_table tr:last').after(content);

  grainIdx++;

  com.rcc.brew.ac.init();
}

function moreHops() {
  var content = '<tr>';
  content += '<td><input name="hops['+hopsIdx+'].hops" value="" type="text" class="autocomplete hops_autocomplete" size="20"/></td>';

  content += '<td><input type="text" name="hops['+hopsIdx+'].weight.value" value="" size="4"/></td>';

  content += '<td><select name="hops['+hopsIdx+'].weight.unit">';
  #foreach($u in $weightUnits)
  content += '<option value="$u.id">$u.name</option>';
  #end
  content += '</select></td>';

  content += '<td><select name="hops['+hopsIdx+'].additionType.id">';
  #foreach($t in $hats)
  content += '<option value="$t.id">$t.name</option>';
  #end
  content += '</select></td>';

  content += '<td><input type="text" name="hops['+hopsIdx+'].time.value" value="" size="4"/></td>';

  content += '<td><select name="hops['+hopsIdx+'].time.unit">';
  #foreach($u in $timeUnits)
  content += '<option value="$u.id">$u.name</option>';
  #end
  content += '</select></td>';

  content += '<td><input type="text" name="hops['+hopsIdx+'].alpha" value="" size="4"/></td>';

  content += '</tr>';

  $('#hops_table tr:last').after(content);

  hopsIdx++;

  com.rcc.brew.ac.init();
}

function moreYeast() {
  var content = '<tr>';
  content += '<td><input name="yeast['+yeastIdx+'].yeast" value="" type="text" class="autocomplete yeast_autocomplete" size="20"/></td>';
  content += '</tr>';

  $('#yeast_table tr:last').after(content);

  yeastIdx++;

  com.rcc.brew.ac.init();
}
</script>

<form method="POST">

  <div class="tab-menu">
    <ul>
      <li><a content-id="recipe" class="active" href="#">Recipe</a></li>
      <li><a content-id="grains" href="#">Grains</a></li>
      <li><a content-id="hops" href="#">Hops</a></li>
      <li><a content-id="yeast" href="#">Yeast</a></li>
      <li><a content-id="mash" href="#">Mash</a></li>
    </ul>
  </div>
  <div style="clear: both;"></div>

<div id="recipe" class="tab-content">
  <table class="form view">

    <tr>
      <th>Name</th>
      <td>
        #springFormInput("r.name" "size='48' tabindex='1'")
        #springShowErrors("<br/>" "form-error")
      </td>
    </tr>

    <tr>
      <th>Boil Length</th>
      <td>
        #springFormInput("r.boilTime.value" "size='4' tabindex='2'")
        #springShowErrors("<br/>" "form-error")

        #springBind("r.boilTime.unit.id")
        <select name="$status.expression" tabindex="3">
          #foreach ($u in $timeUnits)
          <option value="$u.id"
              #if ("$u.id" == "$!status.value")
              selected="selected"
              #end >$u.name</option>
          #end
        </select>
      </td>
    </tr>

    <tr>
      <th>Volume</th>
      <td>
        #springFormInput("r.volume.value" "size='4' tabindex='4'")
        #springShowErrors("<br/>" "form-error")

        #springBind("r.volume.unit.id")
        <select name="$status.expression" tabindex="5">
          #foreach ($u in $volumeUnits)
          <option value="$u.id"
              #if ("$u.id" == "$!status.value")
              selected="selected"
              #end >$u.name</option>
          #end
        </select>
      </td>
    </tr>

  </table>
</div>


<div id="grains" class="tab-content">
  <table id="grain_table" class="list">

    <tr>
      <th>Grain</th>
      <th colspan="2">Weight</th>
    </tr>

    #set ($tabindex = 6)
    #set ($i = 0)
    #foreach ($g in $r.grains)
    <tr>

      <td>
        #springBind("r.grains[$i].grain")
        <input class="grain_autocomplete autocomplete" type="text" size="20"
            name="$status.expression" value="$status.value" tabindex="$tabindex"/>
      </td>

      #set ($tabindex = $tabindex + 1)

      <td>
        #springBind("r.grains[$i].weight.value")
        <input type="text" name="$status.expression" value="$!status.value" size="4" tabindex="$tabindex"/>
      </td>

      #set ($tabindex = $tabindex + 1)

      <td>
        #springBind("r.grains[$i].weight.unit")
        <select name="$status.expression" tabindex="$tabindex">
          #foreach ($u in $weightUnits)
          <option value="$u.id"
              #if ("$!status.value" == "$u.id")
              selected="selected"
              #end >$u.name</option>
          #end
        </select>
      </td>

      #set ($tabindex = $tabindex + 1)

    </tr>
    #set ($i = $i + 1)
    #end

  </table>
  <div><a onclick="moreGrains();" class="page-action">More grains</a></div>
</div>

<div id="hops" class="tab-content">
  <table id="hops_table" class="list">

    <tr>
      <th>Hops</th>
      <th colspan="2">Weight</th>
      <th>Type</th>
      <th colspan="2">Time</th>
      <th>Alpha%</th>
    </tr>

    #set ($i = 0)
    #foreach ($h in $r.hops)
    <tr>

      <td>
        #springBind("r.hops[$i].hops")
        <input class="hops_autocomplete autocomplete" type="text" size="20"
            name="$status.expression" value="$status.value" tabindex="$tabindex"/>
      </td>

      #set ($tabindex = $tabindex + 1)

      <td>
        #springBind("r.hops[$i].weight.value")
        <input type="text" name="$status.expression" value="$!status.value" size="4" tabindex="$tabindex"/>
      </td>

      #set ($tabindex = $tabindex + 1)

      <td>
        #springBind("r.hops[$i].weight.unit")
        <select name="$status.expression" tabindex="$tabindex">
          #foreach ($u in $weightUnits)
          <option value="$u.id"
              #if ("$!status.value" == "$u.id")
              selected="selected"
              #end >$u.name</option>
          #end
        </select>
      </td>

      #set ($tabindex = $tabindex + 1)

      <td>
        #springBind("r.hops[$i].additionType.id")
        <select name="$status.expression" tabindex="$tabindex">
          #foreach ($t in $hats)
          <option value="$t.id"
              #if ("$!status.value" == "$t.id")
              selected="selected"
              #end >$t.name</option>
          #end
        </select>
      </td>

      #set ($tabindex = $tabindex + 1)

      <td>
        #springBind("r.hops[$i].time.value")
        <input type="text" name="$status.expression" value="$!status.value" size="4" tabindex="$tabindex"/>
        #springShowErrors("<br/>" "form-error")
      </td>

      #set ($tabindex = $tabindex + 1)

      <td>
        #springBind("r.hops[$i].time.unit")
        <select name="$status.expression" tabindex="$tabindex">
          #foreach ($u in $timeUnits)
          <option value="$u.id"
              #if ("$!status.value" == "$u.id")
              selected="selected"
              #end >$u.name</option>
          #end
        </select>
      </td>

      #set ($tabindex = $tabindex + 1)

      <td>
        #springBind("r.hops[$i].alpha")
        <input type="text" name="$status.expression" value="$!status.value" size="4" tabindex="$tabindex"/>
        #springShowErrors("<br/>" "form-error")
      </td>

      #set ($tabindex = $tabindex + 1)

    </tr>
    #set ($i = $i + 1)
    #end

  </table>
  <div><a onclick="moreHops();" class="page-action">More hops</a></div>
</div>


<div id="yeast" class="tab-content">
  <table id="yeast_table" class="list">

    <tr>
      <th>Yeast</th>
    </tr>

    #set ($i = 0)
    #foreach ($y in $r.yeast)
    <tr>

      <td>
        #springBind("r.yeast[$i].yeast")
        <input class="yeast_autocomplete autocomplete" type="text" size="20"
            name="$status.expression" value="$status.value" tabindex="$tabindex"/>
      </td>

      #set ($tabindex = $tabindex + 1)

    </tr>
    #set ($i = $i + 1)
    #end

  </table>
  <div><a onclick="moreYeast();" class="page-action">More yeast</a></div>
</div>


<div id="mash" class="tab-content">
  <table id="mash_table" class="list">

    <tr>
      <th>Mash</th>
      <th colspan="2">Time</th>
      <th colspan="2">Start Temp</th>
      <th colspan="2">End Temp</th>
    </tr>

    #set ($i = 0)
    #foreach ($m in $r.mash)
    <tr>

      <td>
        #springBind("r.mash[$i].type")
        <select name="$status.expression" tabindex="$tabindex">
          <option value="0"></option>
          #foreach ($t in $msts)
          <option value="$t.id"
              #if ("$!status.value" == "$t.id")
              selected="selected"
              #end >$t.name</option>
          #end
        </select>
      </td>

      #set ($tabindex = $tabindex + 1)

      <td>
        #springFormInput("r.mash[$i].time.value" "size='4' tabindex='$tabindex'")
        #springShowErrors("<br/>" "form-error")

        #set ($tabindex = $tabindex + 1)

        #springBind("r.mash[$i].time.unit.id")
        <select name="$status.expression" tabindex="$tabindex">
          #foreach ($u in $timeUnits)
          <option value="$u.id"
              #if ("$u.id" == "$!status.value")
              selected="selected"
              #end >$u.name</option>
          #end
        </select>
      </td>

      #set ($tabindex = $tabindex + 1)

      <td>
        #springBind("r.mash[$i].startTemp.value")
        <input type="text" name="$status.expression" value="$!status.value" size="4" tabindex="$tabindex"/>
      </td>

      #set ($tabindex = $tabindex + 1)

      <td>
        #springBind("r.mash[$i].startTemp.unit")
        <select name="$status.expression" tabindex="$tabindex">
          #foreach ($u in $tempUnits)
          <option value="$u.id"
              #if ("$!status.value" == "$u.id")
              selected="selected"
              #end >$u.name</option>
          #end
        </select>
      </td>

      #set ($tabindex = $tabindex + 1)

      <td>
        #springBind("r.mash[$i].endTemp.value")
        <input type="text" name="$status.expression" value="$!status.value" size="4" tabindex="$tabindex"/>
      </td>

      #set ($tabindex = $tabindex + 1)

      <td>
        #springBind("r.mash[$i].endTemp.unit")
        <select name="$status.expression" tabindex="$tabindex">
          #foreach ($u in $tempUnits)
          <option value="$u.id"
              #if ("$!status.value" == "$u.id")
              selected="selected"
              #end >$u.name</option>
          #end
        </select>
      </td>

    </tr>
    #set ($i = $i + 1)
    #end

  </table>
  <div><a onclick="moreMash();" class="page-action">More mash steps</a></div>
</div>



  <div class="buttons">
    <input type="submit" value="$submitValue" tabindex="$tabindex"/>
    <a href="#springUrl('/recipe.s')?id=$r.id">Cancel</a>
  </div>

</form>
