<form method="POST">

  <table class="form view">

    <tr>
      <th>Name</th>
      <td>
        #springFormInput("r.name" "size='48' tabindex='1'")
        #springShowErrors("<br/>" "form-error")
      </td>
    </tr>

  </table>

  <h3>Grains</h3>
  <table class="list">

    <tr>
      <th>Grain</th>
      <th colspan="2">Weight</th>
    </tr>

    #set ($i = 0)
    #foreach ($g in $r.grains)
    <tr>

      <td>
        #springBind("r.grains[$i].grain")
        <input class="grain_autocomplete autocomplete" type="text" size="20"
            name="$status.expression" value="$status.value"/>
      </td>

      <td>
        #springBind("r.grains[$i].weight.value")
        <input type="text" name="$status.expression" value="$!status.value" size="4"/>
      </td>

      <td>
        #springBind("r.grains[$i].weight.unit")
        <select name="$status.expression">
          #foreach ($u in $weightUnits)
          <option value="$u.id"
              #if ("$!status.value" == "$u.id")
              selected="selected"
              #end >$u.name</option>
          #end
        </select>
      </td>

    </tr>
    #set ($i = $i + 1)
    #end

  </table>

  <h3>Hops</h3>
  <table class="list">

    <tr>
      <th>Hops</th>
      <th colspan="2">Weight</th>
      <th>Type</th>
      <th colspan="2">Time</th>
      <th>Alpha%</th>
    </tr>

    #set ($i = 0)
    #foreach ($h in $r.hops)
    <tr>

      <td>
        #springBind("r.hops[$i].hops")
        <input class="hops_autocomplete autocomplete" type="text" size="20"
            name="$status.expression" value="$status.value"/>
      </td>

      <td>
        #springBind("r.hops[$i].weight.value")
        <input type="text" name="$status.expression" value="$!status.value" size="4"/>
      </td>

      <td>
        #springBind("r.hops[$i].weight.unit")
        <select name="$status.expression">
          #foreach ($u in $weightUnits)
          <option value="$u.id"
              #if ("$!status.value" == "$u.id")
              selected="selected"
              #end >$u.name</option>
          #end
        </select>
      </td>

      <td>
        #springBind("r.hops[$i].additionType.id")
        <select name="$status.expression">
          #foreach ($t in $hats)
          <option value="$t.id"
              #if ("$!status.value" == "$t.id")
              selected="selected"
              #end >$t.name</option>
          #end
        </select>
      </td>

      <td>
        #springBind("r.hops[$i].time.value")
        <input type="text" name="$status.expression" value="$!status.value" size="4"/>
        #springShowErrors("<br/>" "form-error")
      </td>

      <td>
        #springBind("r.hops[$i].time.unit")
        <select name="$status.expression">
          #foreach ($u in $timeUnits)
          <option value="$u.id"
              #if ("$!status.value" == "$u.id")
              selected="selected"
              #end >$u.name</option>
          #end
        </select>
      </td>

      <td>
        #springBind("r.hops[$i].alpha")
        <input type="text" name="$status.expression" value="$!status.value" size="4"/>
        #springShowErrors("<br/>" "form-error")
      </td>

    </tr>
    #set ($i = $i + 1)
    #end

  </table>

  <div class="buttons">
    <input type="submit" value="$submitValue"/>
  </div>

</form>
