<form method="POST">

  <table class="form view">

    <tr>
      <th>Email</th>
      <td>
        #springFormInput("r.mail" "size='48' tabindex='1'")
        #springShowErrors("<br/>" "form-error")
      </td>
    </tr>

    <tr>
      <th>Password</th>
      <td>
        #springFormPasswordInput("r.password" "size='24' tabindex='2'")
        #springShowErrors("<br/>" "form-error")
      </td>
    </tr>

    <tr>
      <th>Password</th>
      <td>
        #springFormPasswordInput("r.passwordCheck" "size='24' tabindex='3'")
        #springShowErrors("<br/>" "form-error")
        <div class="help">
          Verify your password
        </div>
      </td>
    </tr>

    <tr class="button">
      <th></th>
      <td>
        <input type="submit" value="Register" tabindex="4"/>
      </td>
    </tr>

  </table>

</form>
