<?xml version="1.0"?>

<!DOCTYPE sqlMapConfig
        PUBLIC "-//iBATIS.com//DTD SQL Map Config 2.0//EN"
        "http://www.ibatis.com/dtd/sql-map-config-2.dtd">

<sqlMapConfig>

    <sqlMap resource="sql/admin.xml"/>
    <sqlMap resource="sql/domain.xml"/>
    <sqlMap resource="sql/note.xml"/>
    <sqlMap resource="sql/recipe.xml"/>
    <sqlMap resource="sql/users.xml"/>
    <sqlMap resource="sql/batch.xml"/>

</sqlMapConfig>
