<?xml version="1.0"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="handlerInterceptor" class="com.rcc.brew.web.HandlerInterceptor">
        <property name="format">
            <bean class="com.rcc.brew.web.Format">
                <property name="model" ref="model"/>
            </bean>
        </property>
    </bean>

    <bean id="contextHandlerInterceptor" class="com.rcc.brew.web.ContextHandlerInterceptor"/>
    <bean id="flashHandlerInterceptor" class="com.rcc.web.FlashHandlerInterceptor"/>
    <bean id="historyHandlerInterceptor" class="com.rcc.web.HistoryHandlerInterceptor"/>
    <bean id="loginHandlerInterceptor" class="com.rcc.brew.web.LoginHandlerInterceptor"/>

    <bean id="requestLoggingHandlerInterceptor"
            class="com.rcc.web.RequestLoggingHandlerInterceptor"/>

    <!-- URL MAPPINGS -->

    <!-- VIEW MAPPINGS -->

    <!-- LOGIN REQUIRED -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="interceptors">
            <list>
                <ref local="requestLoggingHandlerInterceptor"/>
                <ref local="historyHandlerInterceptor"/>
                <ref local="loginHandlerInterceptor"/>
                <ref local="handlerInterceptor"/>
                <ref local="contextHandlerInterceptor"/>
                <ref local="flashHandlerInterceptor"/>

                <bean class="com.rcc.web.LayoutHandlerInterceptor">
                    <property name="defaultViewName" value="Layout"/>
                </bean>

            </list>
        </property>

        <property name="mappings">
            <props>
                <prop key="/batch.s">batchController</prop>

                <prop key="/edit/batch.s">batchEditController</prop>
                <prop key="/edit/batch/gravity/reading.s">gravityReadingEditController</prop>
                <prop key="/delete/batch/gravity/reading.s">batchController</prop>
                <prop key="/edit/recipe.s">recipeEditController</prop>

                <prop key="/edit/note.s">noteEditController</prop>
                <prop key="/delete/note.s">mainController</prop>

                <prop key="/edit/grain/note.s">grainNoteEditController</prop>
                <prop key="/edit/yeast/note.s">yeastNoteEditController</prop>
                <prop key="/edit/hops/note.s">hopsNoteEditController</prop>
                <prop key="/edit/adjunct/note.s">adjunctNoteEditController</prop>

                <prop key="/edit/recipe/note.s">recipeNoteEditController</prop>
                <prop key="/edit/recipe/grain/note.s">recipeGrainNoteEditController</prop>
                <prop key="/edit/recipe/yeast/note.s">recipeYeastNoteEditController</prop>
                <prop key="/edit/recipe/hops/note.s">recipeHopsNoteEditController</prop>
                <prop key="/edit/recipe/mash/step/note.s">recipeMashStepNoteEditController</prop>
                <prop key="/edit/recipe/adjunct/note.s">recipeAdjunctNoteEditController</prop>

                <prop key="/edit/batch/note.s">batchNoteEditController</prop>
                <prop key="/edit/batch/grain/note.s">batchGrainNoteEditController</prop>
                <prop key="/edit/batch/yeast/note.s">batchYeastNoteEditController</prop>
                <prop key="/edit/batch/hops/note.s">batchHopsNoteEditController</prop>
                <prop key="/edit/batch/mash/step/note.s">batchMashStepNoteEditController</prop>
                <prop key="/edit/batch/adjunct/note.s">batchAdjunctNoteEditController</prop>
            </props>
        </property>
    </bean>
    <!-- END LOGIN REQUIRED -->

    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="interceptors">
            <list>
                <ref local="requestLoggingHandlerInterceptor"/>
                <ref local="handlerInterceptor"/>
                <ref local="contextHandlerInterceptor"/>
                <ref local="flashHandlerInterceptor"/>
                <ref local="historyHandlerInterceptor"/>

                <bean class="com.rcc.web.LayoutHandlerInterceptor">
                    <property name="defaultViewName" value="Layout"/>
                </bean>

            </list>
        </property>

        <property name="mappings">
            <props>
                <prop key="/index.s">mainController</prop>
                <prop key="/recipe.s">mainController</prop>
                <prop key="/user/register.s">registrationController</prop>

                <prop key="/user/auth/mail.s">userController</prop>
                <prop key="/user/auth.s">userController</prop>
                <prop key="/user/logout.s">userController</prop>
                <prop key="/user/profile.s">userController</prop>

                <prop key="/user/login.s">loginController</prop>

                <prop key="/ac/adjunct.s">adjunctAutoCompleteController</prop>
                <prop key="/ac/grain.s">grainAutoCompleteController</prop>
                <prop key="/ac/hops.s">hopsAutoCompleteController</prop>
                <prop key="/ac/yeast.s">yeastAutoCompleteController</prop>
            </props>
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="interceptors">
            <list>
                <ref local="requestLoggingHandlerInterceptor"/>
                <ref local="handlerInterceptor"/>
                <ref local="contextHandlerInterceptor"/>
                <ref local="flashHandlerInterceptor"/>

                <bean class="com.rcc.web.LayoutHandlerInterceptor">
                    <property name="defaultViewName" value="admin/Layout"/>
                </bean>

                <bean class="com.rcc.brew.web.UserRoleAuthorizationHandlerInterceptor">
                    <property name="authorizedRoleNames">
                        <set>
                            <value>Admin</value>
                        </set>
                    </property>
                </bean>

            </list>
        </property>

        <property name="mappings">
            <props>
                <prop key="/admin/index.s">admin.mainController</prop>
                <prop key="/admin/mfg.s">admin.mainController</prop>
                <prop key="/admin/adjunct.s">admin.mainController</prop>
                <prop key="/admin/grain.s">admin.mainController</prop>
                <prop key="/admin/yeast.s">admin.mainController</prop>
                <prop key="/admin/hops.s">admin.mainController</prop>
                <prop key="/admin/hat.s">admin.mainController</prop>
                <prop key="/admin/color.s">admin.mainController</prop>
                <prop key="/admin/search.s">admin.searchIndexController</prop>
                <prop key="/admin/search/rebuild/adjunct.s">admin.searchIndexController</prop>
                <prop key="/admin/search/rebuild/grain.s">admin.searchIndexController</prop>
                <prop key="/admin/search/rebuild/yeast.s">admin.searchIndexController</prop>
                <prop key="/admin/search/rebuild/hops.s">admin.searchIndexController</prop>

                <prop key="/admin/edit/mfg.s">admin.mfgEditController</prop>
                <prop key="/admin/edit/adjunct.s">admin.adjunctEditController</prop>
                <prop key="/admin/edit/grain.s">admin.grainEditController</prop>
                <prop key="/admin/edit/yeast.s">admin.yeastEditController</prop>
                <prop key="/admin/edit/hat.s">admin.hopsAdditionTypeEditController</prop>
                <prop key="/admin/edit/hops.s">admin.hopsEditController</prop>
            </props>
        </property>
    </bean>

    <!-- VIEW -->

    <bean id="velocityConfig"
            class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/templates/"/>
        <property name="velocityProperties">
            <props>
                <prop key="velocimacro.library">macros.vm</prop>
                <prop key="velocimacro.library.autoreload">@velocity.velocimacro.library.autoreload@</prop>
                <prop key="velocity.file.resource.loader.cache">@velocity.file.resource.loader.cache@</prop>
                <prop key="directive.foreach.counter.initial.value">0</prop>
            </props>
        </property>
    </bean>

    <bean id="velocityViewResolver"
            class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        <property name="cache" value="true"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".html"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
    </bean>



    <!-- VALIDATION -->

    <bean id="validator" class="org.springmodules.validation.bean.BeanValidator">
        <property name="configurationLoader">
            <bean class="org.springmodules.validation.bean.conf.loader.xml.DefaultXmlBeanValidationConfigurationLoader">
                <property name="resource" value="classpath:/bean-validation.xml"/>
            </bean>
        </property>

        <property name="errorCodeConverter">
            <bean class="org.springmodules.validation.bean.converter.KeepAsIsErrorCodeConverter"/>
        </property>
    </bean>

    <!-- END VALIDATION -->



    <!-- MESSAGES -->
    <bean id="messageSource"
            class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>validation</value>
                <value>message</value>
            </list>
        </property>
    </bean>
    <!-- END MESSAGES -->



    <bean id="propertyEditorRegistrar" class="com.rcc.brew.web.PropertyEditorRegistrar">
        <property name="grainQuery" ref="grainQuery"/>

        <property name="gravityReadingTypeEditor">
            <bean class="com.rcc.brew.web.bean.propertyeditor.IdentifiableIdPropertyEditor">
                <property name="beanQuery" ref="gravityReadingTypeQuery"/>
            </bean>
        </property>

        <property name="gravityUnitEditor">
            <bean class="com.rcc.brew.web.bean.propertyeditor.IdentifiableIdPropertyEditor">
                <property name="beanQuery" ref="gravityUnitQuery"/>
            </bean>
        </property>

        <property name="tempUnitEditor">
            <bean class="com.rcc.brew.web.bean.propertyeditor.IdentifiableIdPropertyEditor">
                <property name="beanQuery" ref="tempUnitQuery"/>
            </bean>
        </property>

        <property name="timeUnitEditor">
            <bean class="com.rcc.brew.web.bean.propertyeditor.IdentifiableIdPropertyEditor">
                <property name="beanQuery" ref="timeUnitQuery"/>
            </bean>
        </property>

        <property name="volumeUnitEditor">
            <bean class="com.rcc.brew.web.bean.propertyeditor.IdentifiableIdPropertyEditor">
                <property name="beanQuery" ref="volumeUnitQuery"/>
            </bean>
        </property>

        <property name="weightUnitEditor">
            <bean class="com.rcc.brew.web.bean.propertyeditor.IdentifiableIdPropertyEditor">
                <property name="beanQuery" ref="weightUnitQuery"/>
            </bean>
        </property>

        <property name="hopsAdditionTypeEditor">
            <bean class="com.rcc.brew.web.bean.propertyeditor.IdentifiableIdPropertyEditor">
                <property name="beanQuery" ref="hopsAdditionTypeQuery"/>
            </bean>
        </property>

        <property name="mashStepTypeEditor">
            <bean class="com.rcc.brew.web.bean.propertyeditor.IdentifiableIdPropertyEditor">
                <property name="beanQuery" ref="mashStepTypeQuery"/>
            </bean>
        </property>

        <property name="adjunctEditor">
            <bean class="com.rcc.brew.web.bean.propertyeditor.AutoCompletePropertyEditor">
                <property name="nameResolver">
                    <bean class="com.rcc.brew.web.bean.propertyeditor.AdjunctNameResolver"/>
                </property>
                <property name="query" ref="adjunctQuery"/>
            </bean>
        </property>

        <property name="hopsEditor">
            <bean class="com.rcc.brew.web.bean.propertyeditor.AutoCompletePropertyEditor">
                <property name="nameResolver">
                    <bean class="com.rcc.brew.web.bean.propertyeditor.HopsNameResolver"/>
                </property>
                <property name="query" ref="hopsQuery"/>
            </bean>
        </property>

        <property name="yeastEditor">
            <bean class="com.rcc.brew.web.bean.propertyeditor.AutoCompletePropertyEditor">
                <property name="nameResolver">
                    <bean class="com.rcc.brew.web.bean.propertyeditor.YeastNameResolver"/>
                </property>
                <property name="query" ref="yeastQuery"/>
            </bean>
        </property>
    </bean>


    <!-- CONTROLLERS -->

    <bean id="mainController" class="com.rcc.brew.web.controller.MainController">
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <props>
                        <prop key="/index.s">view</prop>
                        <prop key="/batch.s">batch</prop>
                        <prop key="/recipe.s">recipe</prop>
                        <prop key="/delete/note.s">deleteNote</prop>
                    </props>
                </property>
            </bean>
        </property>

        <property name="model" ref="model"/>
    </bean>

    <bean id="batchController" class="com.rcc.brew.web.controller.BatchController">
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <props>
                        <prop key="/batch.s">view</prop>
                        <prop key="/delete/batch/gravity/reading.s">deleteGravityReading</prop>
                    </props>
                </property>
            </bean>
        </property>

        <property name="model" ref="model"/>
    </bean>

    <bean id="registrationController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.RegistrationController">
                <property name="commandName" value="r"/>
                <property name="commandClass" value="com.rcc.brew.web.bean.Register"/>
                <property name="sessionForm" value="true"/>
                <property name="bindOnNewForm" value="true"/>

                <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

                <property name="validators">
                    <list>
                        <ref bean="validator"/>
                        <bean class="com.rcc.brew.web.bean.validation.RegisterValidator">
                            <property name="model" ref="model"/>
                        </bean>
                    </list>
                </property>

                <property name="model" ref="model"/>
            </bean>
        </property>
    </bean>

    <bean id="userController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.UserController">

                <property name="methodNameResolver">
                    <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                        <property name="mappings">
                            <props>
                                <prop key="/user/auth/mail.s">sendAuthMail</prop>
                                <prop key="/user/auth.s">auth</prop>
                                <prop key="/user/logout.s">logout</prop>
                                <prop key="/user/profile.s">profile</prop>
                            </props>
                        </property>
                    </bean>
                </property>

                <property name="model" ref="model"/>
                <property name="velocityMailer" ref="velocityMailer"/>

            </bean>
        </property>
    </bean>

    <bean id="loginController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.LoginController">
                <property name="commandName" value="login"/>
                <property name="commandClass" value="com.rcc.brew.web.bean.Login"/>
                <property name="sessionForm" value="true"/>
                <property name="bindOnNewForm" value="true"/>

                <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

                <property name="validators">
                    <list>
                        <ref bean="validator"/>
                        <bean class="com.rcc.brew.web.bean.validation.LoginValidator">
                            <property name="model" ref="model"/>
                        </bean>
                    </list>
                </property>
                <property name="model" ref="model"/>
            </bean>
        </property>
    </bean>

    <bean id="gravityReadingEditController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.GravityReadingEditController">
                <property name="commandName" value="r"/>
                <property name="sessionForm" value="true"/>
                <property name="bindOnNewForm" value="true"/>

                <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

                <property name="validators">
                    <list>
                        <ref bean="validator"/>
                    </list>
                </property>

                <property name="createContent" value="GravityReadingCreate"/>
                <property name="editContent" value="GravityReadingEdit"/>

                <property name="model" ref="model"/>
            </bean>
        </property>
    </bean>

    <bean id="batchEditController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.BatchEditController">
                <property name="commandName" value="b"/>
                <property name="sessionForm" value="true"/>
                <property name="bindOnNewForm" value="true"/>

                <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

                <property name="validators">
                    <list>
                        <ref bean="validator"/>
                    </list>
                </property>

                <property name="createContent" value="BatchCreate"/>
                <property name="editContent" value="BatchEdit"/>

                <property name="model" ref="model"/>
                <property name="service" ref="service"/>
            </bean>
        </property>
    </bean>

    <!-- NOTE CONTROLLERS -->

    <bean id="noteEditControllerParent" class="com.rcc.brew.web.controller.NoteEditController">
        <property name="commandName" value="n"/>
        <property name="sessionForm" value="true"/>
        <property name="bindOnNewForm" value="true"/>

        <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

        <property name="validators">
            <list>
                <ref bean="validator"/>
            </list>
        </property>

        <property name="createContent" value="NoteCreate"/>
        <property name="editContent" value="NoteEdit"/>

        <property name="model" ref="model"/>
    </bean>

    <bean id="noteEditController" parent="modelTxn">
        <property name="target" ref="noteEditControllerParent"/>
    </bean>

    <bean id="grainNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="grain"/>
            </bean>
        </property>
    </bean>

    <bean id="yeastNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="yeast"/>
            </bean>
        </property>
    </bean>

    <bean id="hopsNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="hops"/>
            </bean>
        </property>
    </bean>

    <bean id="adjunctNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="adjunct"/>
            </bean>
        </property>
    </bean>

    <bean id="recipeNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="recipe"/>
            </bean>
        </property>
    </bean>

    <bean id="recipeGrainNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="recipe_grain"/>
            </bean>
        </property>
    </bean>

    <bean id="recipeHopsNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="recipe_hops"/>
            </bean>
        </property>
    </bean>

    <bean id="recipeYeastNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="recipe_yeast"/>
            </bean>
        </property>
    </bean>

    <bean id="recipeAdjunctNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="recipe_adjunct"/>
            </bean>
        </property>
    </bean>

    <bean id="recipeMashStepNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="recipe_mash_step"/>
            </bean>
        </property>
    </bean>

    <bean id="gravityReadingNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="gravity_reading"/>
            </bean>
        </property>
    </bean>

    <bean id="batchNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="batch"/>
            </bean>
        </property>
    </bean>

    <bean id="batchHopsNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="batch_hops"/>
            </bean>
        </property>
    </bean>

    <bean id="batchYeastNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="batch_yeast"/>
            </bean>
        </property>
    </bean>

    <bean id="batchAdjunctNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="batch_adjunct"/>
            </bean>
        </property>
    </bean>

    <bean id="batchGrainNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="batch_grain"/>
            </bean>
        </property>
    </bean>

    <bean id="batchMashStepNoteEditController" parent="noteEditController">
        <property name="target">
            <bean parent="noteEditControllerParent">
                <property name="objectType" value="batch_mash_step"/>
            </bean>
        </property>
    </bean>

    <!-- END NOTE CONTROLLERS -->

    <bean id="recipeEditController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.RecipeEditController">
                <property name="commandName" value="r"/>
                <property name="sessionForm" value="true"/>
                <property name="bindOnNewForm" value="true"/>

                <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

                <property name="validators">
                    <list>
                        <ref bean="validator"/>
                    </list>
                </property>

                <property name="createContent" value="RecipeCreate"/>
                <property name="editContent" value="RecipeEdit"/>

                <property name="model" ref="model"/>
                <property name="service" ref="service"/>
            </bean>
        </property>
    </bean>

    <bean id="adjunctAutoCompleteController" class="com.rcc.web.controller.AutoCompleteController">
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <props>
                        <prop key="/ac/adjunct.s">search</prop>
                    </props>
                </property>
            </bean>
        </property>

        <property name="indexReader" ref="adjunctIndexReader"/>
    </bean>

    <bean id="grainAutoCompleteController" class="com.rcc.web.controller.AutoCompleteController">
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <props>
                        <prop key="/ac/grain.s">search</prop>
                    </props>
                </property>
            </bean>
        </property>

        <property name="indexReader" ref="grainIndexReader"/>
    </bean>

    <bean id="hopsAutoCompleteController" class="com.rcc.web.controller.AutoCompleteController">
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <props>
                        <prop key="/ac/hops.s">search</prop>
                    </props>
                </property>
            </bean>
        </property>

        <property name="indexReader" ref="hopsIndexReader"/>
    </bean>

    <bean id="yeastAutoCompleteController" class="com.rcc.web.controller.AutoCompleteController">
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <props>
                        <prop key="/ac/yeast.s">search</prop>
                    </props>
                </property>
            </bean>
        </property>

        <property name="indexReader" ref="yeastIndexReader"/>
    </bean>


    <!-- Admin -->

    <bean id="admin.mainController" class="com.rcc.brew.web.controller.admin.MainController">
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <props>
                        <prop key="/admin/index.s">view</prop>
                        <prop key="/admin/mfg.s">mfg</prop>
                        <prop key="/admin/adjunct.s">adjunct</prop>
                        <prop key="/admin/grain.s">grain</prop>
                        <prop key="/admin/yeast.s">yeast</prop>
                        <prop key="/admin/hops.s">hops</prop>
                        <prop key="/admin/hat.s">hopsAdditionType</prop>
                        <prop key="/admin/color.s">color</prop>
                    </props>
                </property>
            </bean>
        </property>

        <property name="model" ref="model"/>
    </bean>

    <bean id="admin.searchIndexController"
            class="com.rcc.brew.web.controller.admin.SearchIndexController">
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <props>
                        <prop key="/admin/search.s">view</prop>
                        <prop key="/admin/search/rebuild/adjunct.s">rebuildAdjunctIndex</prop>
                        <prop key="/admin/search/rebuild/grain.s">rebuildGrainIndex</prop>
                        <prop key="/admin/search/rebuild/yeast.s">rebuildYeastIndex</prop>
                        <prop key="/admin/search/rebuild/hops.s">rebuildHopsIndex</prop>
                    </props>
                </property>
            </bean>
        </property>

        <property name="model" ref="model"/>
        <property name="adjunctIndexWriter" ref="adjunctIndexWriter"/>
        <property name="grainIndexWriter" ref="grainIndexWriter"/>
        <property name="hopsIndexWriter" ref="hopsIndexWriter"/>
        <property name="yeastIndexWriter" ref="yeastIndexWriter"/>
    </bean>

    <bean id="admin.mfgEditController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.admin.MfgEditController">
                <property name="commandName" value="m"/>
                <property name="sessionForm" value="true"/>
                <property name="bindOnNewForm" value="true"/>

                <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

                <property name="validators">
                    <list>
                        <ref bean="validator"/>
                    </list>
                </property>
                <property name="createContent" value="admin/MfgCreate"/>
                <property name="editContent" value="admin/MfgEdit"/>
                <property name="model" ref="model"/>
            </bean>
        </property>
    </bean>

    <bean id="admin.adjunctEditController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.admin.AdjunctEditController">
                <property name="commandName" value="a"/>
                <property name="sessionForm" value="true"/>
                <property name="bindOnNewForm" value="true"/>

                <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

                <property name="validators">
                    <list>
                        <ref bean="validator"/>
                    </list>
                </property>

                <property name="createContent" value="admin/AdjunctCreate"/>
                <property name="editContent" value="admin/AdjunctEdit"/>
                <property name="model" ref="model"/>
            </bean>
        </property>
    </bean>

    <bean id="admin.grainEditController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.admin.GrainEditController">
                <property name="commandName" value="g"/>
                <property name="sessionForm" value="true"/>
                <property name="bindOnNewForm" value="true"/>

                <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

                <property name="validators">
                    <list>
                        <ref bean="validator"/>
                    </list>
                </property>

                <property name="createContent" value="admin/GrainCreate"/>
                <property name="editContent" value="admin/GrainEdit"/>
                <property name="model" ref="model"/>
            </bean>
        </property>
    </bean>

    <bean id="admin.yeastEditController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.admin.YeastEditController">
                <property name="commandName" value="y"/>
                <property name="sessionForm" value="true"/>
                <property name="bindOnNewForm" value="true"/>

                <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

                <property name="validators">
                    <list>
                        <ref bean="validator"/>
                    </list>
                </property>

                <property name="createContent" value="admin/YeastCreate"/>
                <property name="editContent" value="admin/YeastEdit"/>
                <property name="model" ref="model"/>
            </bean>
        </property>
    </bean>

    <bean id="admin.hopsEditController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.admin.HopsEditController">
                <property name="commandName" value="h"/>
                <property name="sessionForm" value="true"/>
                <property name="bindOnNewForm" value="true"/>

                <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

                <property name="validators">
                    <list>
                        <ref bean="validator"/>
                    </list>
                </property>

                <property name="createContent" value="admin/HopsCreate"/>
                <property name="editContent" value="admin/HopsEdit"/>
                <property name="model" ref="model"/>
            </bean>
        </property>
    </bean>

    <bean id="admin.hopsAdditionTypeEditController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.admin.HopsAdditionTypeEditController">
                <property name="commandName" value="hat"/>
                <property name="sessionForm" value="true"/>
                <property name="bindOnNewForm" value="true"/>

                <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

                <property name="validators">
                    <list>
                        <ref bean="validator"/>
                    </list>
                </property>

                <property name="createContent" value="admin/HopsAdditionTypeCreate"/>
                <property name="editContent" value="admin/HopsAdditionTypeEdit"/>
                <property name="model" ref="model"/>
            </bean>
        </property>
    </bean>

    <!-- END Admin -->

</beans>
