<?xml version="1.0"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="handlerInterceptor" class="com.rcc.brew.web.HandlerInterceptor"/>
    <bean id="contextHandlerInterceptor" class="com.rcc.brew.web.ContextHandlerInterceptor"/>
    <bean id="flashHandlerInterceptor" class="com.rcc.web.FlashHandlerInterceptor"/>

    <bean id="requestLoggingHandlerInterceptor"
            class="com.rcc.web.RequestLoggingHandlerInterceptor"/>

    <!-- URL MAPPINGS -->

    <!-- VIEW MAPPINGS -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="interceptors">
            <list>
                <ref local="requestLoggingHandlerInterceptor"/>
                <ref local="handlerInterceptor"/>
                <ref local="contextHandlerInterceptor"/>
                <ref local="flashHandlerInterceptor"/>

                <bean class="com.rcc.web.LayoutHandlerInterceptor">
                    <property name="defaultViewName" value="Layout"/>
                </bean>

            </list>
        </property>

        <property name="mappings">
            <props>
                <prop key="/index.s">mainController</prop>
                <prop key="/recipe.s">mainController</prop>
                <prop key="/user/register.s">registrationController</prop>

                <prop key="/user/auth/mail.s">userController</prop>
                <prop key="/user/auth.s">userController</prop>
                <prop key="/user/logout.s">userController</prop>
                <prop key="/user/profile.s">userController</prop>

                <prop key="/user/login.s">loginController</prop>

                <prop key="/edit/recipe.s">recipeEditController</prop>

                <prop key="/ac/grain.s">grainAutoCompleteController</prop>
            </props>
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="interceptors">
            <list>
                <ref local="requestLoggingHandlerInterceptor"/>
                <ref local="handlerInterceptor"/>
                <ref local="contextHandlerInterceptor"/>
                <ref local="flashHandlerInterceptor"/>

                <bean class="com.rcc.web.LayoutHandlerInterceptor">
                    <property name="defaultViewName" value="admin/Layout"/>
                </bean>

                <bean class="com.rcc.brew.web.UserRoleAuthorizationHandlerInterceptor">
                    <property name="authorizedRoleNames">
                        <set>
                            <value>Admin</value>
                        </set>
                    </property>
                </bean>

            </list>
        </property>

        <property name="mappings">
            <props>
                <prop key="/admin/index.s">admin.mainController</prop>
                <prop key="/admin/mfg.s">admin.mainController</prop>
                <prop key="/admin/grain.s">admin.mainController</prop>
                <prop key="/admin/search.s">admin.searchIndexController</prop>
                <prop key="/admin/search/rebuild/grain.s">admin.searchIndexController</prop>

                <prop key="/admin/edit/mfg.s">admin.mfgEditController</prop>
                <prop key="/admin/edit/grain.s">admin.grainEditController</prop>
            </props>
        </property>
    </bean>

    <!-- VIEW -->

    <bean id="velocityConfig"
            class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/templates/"/>
        <property name="velocityProperties">
            <props>
                <prop key="velocimacro.library">macros.vm</prop>
                <prop key="velocimacro.library.autoreload">@velocity.velocimacro.library.autoreload@</prop>
                <prop key="velocity.file.resource.loader.cache">@velocity.file.resource.loader.cache@</prop>
                <prop key="directive.foreach.counter.initial.value">0</prop>
            </props>
        </property>
    </bean>

    <bean id="velocityViewResolver"
            class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        <property name="cache" value="true"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".html"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
    </bean>



    <!-- VALIDATION -->

    <bean id="validator" class="org.springmodules.validation.bean.BeanValidator">
        <property name="configurationLoader">
            <bean class="org.springmodules.validation.bean.conf.loader.xml.DefaultXmlBeanValidationConfigurationLoader">
                <property name="resource" value="classpath:/bean-validation.xml"/>
            </bean>
        </property>

        <property name="errorCodeConverter">
            <bean class="org.springmodules.validation.bean.converter.KeepAsIsErrorCodeConverter"/>
        </property>
    </bean>

    <!-- END VALIDATION -->



    <!-- MESSAGES -->
    <bean id="messageSource"
            class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>validation</value>
                <value>message</value>
            </list>
        </property>
    </bean>
    <!-- END MESSAGES -->



    <bean id="propertyEditorRegistrar" class="com.rcc.brew.web.PropertyEditorRegistrar"/>


    <!-- CONTROLLERS -->

    <bean id="mainController" class="com.rcc.brew.web.controller.MainController">
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <props>
                        <prop key="/index.s">view</prop>
                        <prop key="/recipe.s">recipe</prop>
                    </props>
                </property>
            </bean>
        </property>

        <property name="model" ref="model"/>
    </bean>

    <bean id="registrationController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.RegistrationController">
                <property name="commandName" value="r"/>
                <property name="commandClass" value="com.rcc.brew.web.bean.Register"/>
                <property name="sessionForm" value="true"/>
                <property name="bindOnNewForm" value="true"/>

                <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

                <property name="validators">
                    <list>
                        <ref bean="validator"/>
                        <bean class="com.rcc.brew.web.bean.validation.RegisterValidator">
                            <property name="model" ref="model"/>
                        </bean>
                    </list>
                </property>

                <property name="model" ref="model"/>
            </bean>
        </property>
    </bean>

    <bean id="userController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.UserController">

                <property name="methodNameResolver">
                    <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                        <property name="mappings">
                            <props>
                                <prop key="/user/auth/mail.s">sendAuthMail</prop>
                                <prop key="/user/auth.s">auth</prop>
                                <prop key="/user/logout.s">logout</prop>
                                <prop key="/user/profile.s">profile</prop>
                            </props>
                        </property>
                    </bean>
                </property>

                <property name="model" ref="model"/>
                <property name="velocityMailer" ref="velocityMailer"/>

            </bean>
        </property>
    </bean>

    <bean id="loginController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.LoginController">
                <property name="commandName" value="login"/>
                <property name="commandClass" value="com.rcc.brew.web.bean.Login"/>
                <property name="sessionForm" value="true"/>
                <property name="bindOnNewForm" value="true"/>

                <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

                <property name="validators">
                    <list>
                        <ref bean="validator"/>
                        <bean class="com.rcc.brew.web.bean.validation.LoginValidator">
                            <property name="model" ref="model"/>
                        </bean>
                    </list>
                </property>
                <property name="model" ref="model"/>
            </bean>
        </property>
    </bean>

    <bean id="recipeEditController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.RecipeEditController">
                <property name="commandName" value="r"/>
                <property name="sessionForm" value="true"/>
                <property name="bindOnNewForm" value="true"/>

                <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

                <property name="validators">
                    <list>
                        <ref bean="validator"/>
                    </list>
                </property>

                <property name="createContent" value="RecipeCreate"/>
                <property name="editContent" value="RecipeEdit"/>

                <property name="model" ref="model"/>
            </bean>
        </property>
    </bean>

    <bean id="grainAutoCompleteController" class="com.rcc.web.controller.AutoCompleteController">
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <props>
                        <prop key="/ac/grain.s">search</prop>
                    </props>
                </property>
            </bean>
        </property>

        <property name="indexReader" ref="grainIndexReader"/>
    </bean>


    <!-- Admin -->

    <bean id="admin.mainController" class="com.rcc.brew.web.controller.admin.MainController">
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <props>
                        <prop key="/admin/index.s">view</prop>
                        <prop key="/admin/mfg.s">mfg</prop>
                        <prop key="/admin/grain.s">grain</prop>
                    </props>
                </property>
            </bean>
        </property>

        <property name="model" ref="model"/>
    </bean>

    <bean id="admin.searchIndexController"
            class="com.rcc.brew.web.controller.admin.SearchIndexController">
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <props>
                        <prop key="/admin/search.s">view</prop>
                        <prop key="/admin/search/rebuild/grain.s">rebuildGrainIndex</prop>
                    </props>
                </property>
            </bean>
        </property>

        <property name="model" ref="model"/>
        <property name="grainIndexWriter" ref="grainIndexWriter"/>
    </bean>

    <bean id="admin.mfgEditController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.admin.MfgEditController">
                <property name="commandName" value="m"/>
                <property name="sessionForm" value="true"/>
                <property name="bindOnNewForm" value="true"/>

                <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

                <property name="validators">
                    <list>
                        <ref bean="validator"/>
                    </list>
                </property>
                <property name="createContent" value="admin/MfgCreate"/>
                <property name="editContent" value="admin/MfgEdit"/>
                <property name="model" ref="model"/>
            </bean>
        </property>
    </bean>

    <bean id="admin.grainEditController" parent="modelTxn">
        <property name="target">
            <bean class="com.rcc.brew.web.controller.admin.GrainEditController">
                <property name="commandName" value="g"/>
                <property name="sessionForm" value="true"/>
                <property name="bindOnNewForm" value="true"/>

                <property name="propertyEditorRegistrar" ref="propertyEditorRegistrar"/>

                <property name="validators">
                    <list>
                        <ref bean="validator"/>
                    </list>
                </property>

                <property name="createContent" value="admin/GrainCreate"/>
                <property name="editContent" value="admin/GrainEdit"/>
                <property name="model" ref="model"/>
            </bean>
        </property>
    </bean>

    <!-- END Admin -->

</beans>
