<h2>Grains</h2>

<div class="breadcrumbs">
  <ul>
    <li><a href="#springUrl('/index.s')">Home</a></li>
    <li><a href="#springUrl('/admin/index.s')">Admin</a></li>
    <li>All Grains</li>
  </ul>
</div>

<div class="icon-bar">
  <a class="ui-icon ui-icon-circle-plus" href="#springUrl('/admin/edit/grain.s')"></a>
</div>
<div style="clear: left;"></div>

<table class="list sortable">
  <tr>
    <th>Name</th>
    <th>Mfg</th>
    <th class="sorttable_nosort"></th>
  </tr>

  #foreach ($g in $grains)
  <tr>
    <td sorttable_customkey="$g.name"><a href="#springUrl('/admin/grain.s')?id=$g.id">$g.name</a></td>
    <td sorttable_customkey="$!g.mfg.name">
      #if ($g.hasMfg())
      <a href="#springUrl('/admin/mfg.s')?id=$g.mfg.id">$g.mfg.name</a>
      #end
    </td>

    <td>
      <div class="icon-bar">
        <a class="ui-icon ui-icon-pencil" title="Edit" href="#springUrl('/admin/edit/grain.s')?id=$g.id"></a>
      </div>
    </td>

  </tr>
  #end

</table>
