<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>BrewKeeper Admin</title>

    <link rel="stylesheet" type="text/css" href="#springUrl('/css/reset.css')"></link>
    <link rel="stylesheet" type="text/css" href="#springUrl('/css/style.css')"></link>
    <link rel="stylesheet" type="text/css" href="#springUrl('/css/ddsmoothmenu.css')"></link>

    <!--[if lte IE 7]>
    <style type="text/css">
    html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/
    </style>
    <![endif]-->

    <script type="text/javascript" src="#springUrl('/js/jquery-1.2.6.js')"></script>
    <script type="text/javascript" src="#springUrl('/js/ddsmoothmenu.js')"></script>
    <script type="text/javascript" src="#springUrl('/js/sorttable.js')"></script>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header">
      <div style="float: left; width: 500px;">
        <h1>BrewKeeper Admin</h1>
      </div>

      <div style="float: right; width: 300px;">
        #if ($user)
        Logged in as <i>$user.name</i> [<a href="#springUrl('/user/profile.s')">profile</a>]
        <div><a href="#springUrl('/user/logout.s')">Logout</a></div>
        #else
        <a href="#springUrl('/user/login.s')">Login</a> or <a href="#springUrl('/user/register.s')">Register</a>
        #end
      </div>
      <div style="clear: both;"></div>
    </div>
    <!-- END HEADER -->

    <!-- TOP NAV -->
    <div id="top_nav" class="ddsmoothmenu">
      <ul>
        <li><a href="#springUrl('/index.s')">Home</a></li>
        <li>
          <a href="#springUrl('/admin/index.s')">Admin</a>
          <ul>
            <li><a href="#springUrl('/admin/color.s')">Colors</a></li>
          </ul>
        </li>

        <li>
          <a href="#springUrl('/admin/search.s')">Search Index</a>
          <ul>
            <li><a href="#springUrl('/admin/search/rebuild/grain.s')">Rebuild grain index</a></li>
            <li><a href="#springUrl('/admin/search/rebuild/hops.s')">Rebuild hops index</a></li>
            <li><a href="#springUrl('/admin/search/rebuild/yeast.s')">Rebuild yeast index</a></li>
          </ul>
        </li>

        <li>
          <a href="#">Ingredients</a>
          <ul>

            <li>
              <a href="#springUrl('/admin/hops.s')">Hops</a>
              <ul>
                <li><a href="#springUrl('/admin/hops.s')">List</a></li>
                <li><a href="#springUrl('/admin/edit/hops.s')">New</a></li>

                <li>
                  <a href="#springUrl('/admin/hat.s')">Addition Types</a>
                  <ul>
                    <li><a href="#springUrl('/admin/hat.s')">List</a></li>
                    <li><a href="#springUrl('/admin/edit/hat.s')">New</a></li>
                  </ul>
                </li>

              </ul>
            </li>

            <li>
              <a href="#springUrl('/admin/grain.s')">Grains</a>
              <ul>
                <li><a href="#springUrl('/admin/grain.s')">List</a></li>
                <li><a href="#springUrl('/admin/edit/grain.s')">New</a></li>
              </ul>
            </li>

            <li>
              <a href="#springUrl('/admin/yeast.s')">Yeast</a>
              <ul>
                <li><a href="#springUrl('/admin/yeast.s')">List</a></li>
                <li><a href="#springUrl('/admin/edit/yeast.s')">New</a></li>
              </ul>
            </li>

          </ul>
        </li>

        <li>
          <a href="#springUrl('/admin/mfg.s')">Mfg</a>
          <ul>
            <li><a href="#springUrl('/admin/mfg.s')">List</a></li>
            <li><a href="#springUrl('/admin/edit/mfg.s')">New</a></li>
          </ul>
        </li>

        <li><a href="#springUrl('/admin/edit/adjunct.s')">New Adjunct</a></li>

      </ul>
    </div>
    <div style="clear: left;"></div>
    <!-- END TOP NAV -->

    <!-- FLASH -->
    #parse("/includes/Flash.html")
    <!-- END FLASH -->

    <!-- CONTENT -->
    <div id="content">
      #parse("/${content}.html")
    </div>
    <!-- END CONTENT -->

    <!-- FOOTER -->
    <div id="footer">
      <p style="text-align: right; margin: 2px;">For all inquiries, please contact <a href="mailto:ian@raincityconsulting.com">The BrewKeeper Team</a></p>
    </div>
    <!-- END FOOTER -->

  </body>

</html>
