<h2>Yeast: $yeast.name</h2>

<div class="breadcrumbs">
  <ul>
    <li><a href="#springUrl('/index.s')">Home</a></li>
    <li><a href="#springUrl('/admin/index.s')">Admin</a></li>
    <li><a href="#springUrl('/admin/yeast.s')">All Yeast</a></li>
    <li>$yeast.name</li>
  </ul>
</div>

<div class="page-functions">
  <ul>
    <li><a href="#springUrl('/admin/edit/yeast.s')?id=$yeast.id">Edit</a></li>
  </ul>
</div>

<table class="view">

  <tr>
    <th>Name</th>
    <td>$yeast.name</td>
  </tr>

  <tr>
    <th>Manufacturer</th>
    <td>
      #if ($yeast.hasMfg())
      <a href="#springUrl('/admin/mfg.s')?id=$yeast.mfg.id">$yeast.mfg.name</a>
      #end
    </td>
  </tr>

</table>
